*.a
*.o
Makefile
Makefile.in
.deps
/aclocal.m4
/config.*
/configure
/compile
/install-sh
/stamp-h1
/missing
/autom4te.cache
/depcomp
/src/dillo
/doc/dillo.1
/dpid/dpid
/dpid/dpidc
/dpid/dpidrc
/dpi/*.dpi
/html
/tags
/test/containers
/test/cookies
/test/dw-anchors-test
/test/dw-border-test
/test/dw-example
/test/dw-find-test
/test/dw-float-test
/test/dw-image-background
/test/dw-images-scaled
/test/dw-images-scaled2
/test/dw-images-simple
/test/dw-imgbuf-mem-test
/test/dw-links
/test/dw-links2
/test/dw-lists
/test/dw-resource-test
/test/dw-simple-container-test
/test/dw-table
/test/dw-table-aligned
/test/dw-ui-test
/test/liang
/test/notsosimplevector
/test/shapes
/test/trie
/test/unicode-test
